<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:shiro="http://www.thymeleaf.org/thymeleaf-extras-shiro">

<!--需要导入两个命名空间！-->
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>机械预警系统主页</title>
        <link rel="stylesheet" th:href="@{/vendor/simple-line-icons/css/simple-line-icons.css}">
        <link rel="stylesheet" th:href="@{/vendor/font-awesome/css/fontawesome-all.min.css}">
        <link rel="stylesheet" th:href="@{/css/styles.css}">
        <script th:src="@{/js/jquery-3.3.1.js}"></script>
        <script th:src="@{/js/jquery.cookie.js}"></script>
        <script th:src="@{/vendor/popper.js/popper.min.js}"></script>
        <script th:src="@{/vendor/bootstrap/js/bootstrap.min.js}"></script>
        <script th:src="@{/js/carbon.js}"></script>
        <script th:src="@{/js/ziyong/driver_list.js}"></script>
</head>
<body class="sidebar-fixed header-fixed">
<div class="page-wrapper">

    <div th:replace="~{commons/commons::header_navbar(source='driver_list')}"></div>
<!--    thymeleaf进行一个传参操作-->


    <div class="main-container">
        <div th:replace="~{commons/commons::side_navbar(source='driver_list')}"></div>

        <div class="content">
            <div class="container-fluid">
                <div class="row">

                    <div class="col-md-12">
                        <div class="card">
                                <div>
<!--                                <img th:src="${filename}">-->
<!--                                <form th:action="@{/driver/upload_headimg}" method="post" enctype="multipart/form-data">-->
<!--                                    <input type="file" name="head_img">-->
<!--                                    <button class="btn btn-primary" type="submit">提交</button>-->
<!--                                </form>-->
                                    <table class="table table-striped" id="driver_table">
                                        <thead>
                                        <th>照片</th>
                                        <th>司机编号</th>
                                        <th>姓名</th>
                                        <th>年龄</th>
                                        <th>性别</th>
                                        <th>身份证号</th>
                                        <th>电话号码</th>
                                        <th>操作</th>
                                        </thead>
                                        <tbody>
                                        <tr th:each="driver:${driver_list}">
                                            <th><img th:src="${driver.getPhoto()}" style="width: 100px;height: 130px"></th>
                                            <td th:text="${driver.getDriver_id()}"></td>
                                            <td th:text="${driver.getDriver_name()}"></td>
                                            <td th:text="${driver.getAge()}"></td>
                                            <td th:text="${driver.getGender()}"></td>
                                            <td th:text="${driver.getId_card_number()}"></td>
                                            <td th:text="${driver.getTel_number()}"></td>
                                            <td>
                                                <button class="btn btn-sm btn-primary" th:onclick="bianji_driver([[${driver.getDriver_id()}]])">编辑</button>
                                                <button class="btn btn-sm btn-danger" th:onclick="delete_equip([[${driver.getDriver_id()}]])">删除</button>
                                            </td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>

                        </div>
                    </div>


                    <div class="modal fade" id="bianjiModalId" tabindex="-1" role="dialog" aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                                        ×
                                    </button>
                                </div>
                                <form method="post" th:action="@{/driver/update}" enctype="multipart/form-data">
                                    <div class="modal-body form-horizontal">
                                        <div class="input-group">
                                            <span class="input-group-addon">司机编号：&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;</span>
                                            <input type="text" readonly="readonly" class="input form-control" id="tanchaung_id" name="tanchaung_driver_id">
                                        </div>
                                        <div class="input-group">
                                            <span class="input-group-addon">姓名：&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;</span>
                                            <input type="text" class="input form-control" id="tanchuang_name" aria-describedby="basic-addon3" name="tanchaung_name">
                                        </div>

                                        <div class="input-group">
                                            <span class="input-group-addon">年龄：&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;</span>
                                            <input type="number" class="input form-control" id="tanchuang_age" aria-describedby="basic-addon3" name="tanchuang_age">
                                        </div>
                                        <div class="input-group">
                                            <span class="input-group-addon">性别：&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;</span>
<!--                                            <input type="text" class="input form-control" id="tanchuang_type" aria-describedby="basic-addon3" name="tanchuang_type">-->
                                            <select name="tanchuang_gender" class="form-control" id="tanchuang_gender">
                                                <option value="男">男</option>
                                                <option value="女">女</option>
                                            </select>
                                        </div>

                                        <div class="input-group">
                                            <span class="input-group-addon">身份证号码：&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;</span>
                                            <input type="tel" class="input form-control" id="tanchuang_id_card" aria-describedby="basic-addon3" name="tanchuang_id_card">
                                        </div>
                                        <div class="input-group">
                                            <span class="input-group-addon">电话号码：&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;</span>
                                            <input type="tel" class="input form-control" id="tanchuang_tel" aria-describedby="basic-addon3" name="tanchuang_tel">
                                        </div>
                                        <div class="input-group">
                                            <span class="input-group-addon">照片：&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;</span>
                                            <input type="file" class="input form-control" id="tanchuang_photo" aria-describedby="basic-addon3" name="tanchuang_photo">
                                        </div>
                                        <div class="input-group">
                                            <span class="input-group-addon">若照片无需修改，则不用上传该项。</span>
                                        </div>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="submit" class="btn btn-primary" id="loginModalYesId">提交</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>

                </div>



            </div>
        </div>
    </div>
</div>
</div>
</body>
</html>
