<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

    <title>出错啦！</title>
    <link rel="stylesheet" type="text/css" th:href="@{/Wopop_files/style_log.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/Wopop_files/style.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/Wopop_files/jquery.ui.all.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap.css}">
    <script type="text/javascript" src="js/jquery-3.3.1.js"></script>
    <script src="js/jquery.cookie.js"></script>
    <script type="text/javascript" src="js/bootstrap.js"></script>
    <script type="text/javascript" src="js/angular.min.js"></script>
    <script type="text/javascript" src="js/wui-date.js" charset="UTF-8"></script>

</head>





<body class="login" mycollectionplug="bind">
<div class="login_m">
    <div class="login_logo"><img th:src="@{/Wopop_files/logo.png}" width="181" height="100"></div>
    <div class="login_boder">

        <div class="login_padding" id="login_model">
            <h1>404,未找到页面</h1>
            <a th:href="@{/index}" style="color: red">返回首页</a>
        </div>


        <!--login_padding  Sign up end-->
    </div><!--login_boder end-->
</div><!--login_m end-->
<br> <br>
<p align="center"> Copyright 2019-2020 Hospital. All Rights Reserved.</p>


</body>
</html>