<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:shiro="http://www.thymeleaf.org/thymeleaf-extras-shiro">

<!--需要导入两个命名空间！-->
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>塔机预警系统主页</title>
        <link rel="stylesheet" th:href="@{/vendor/simple-line-icons/css/simple-line-icons.css}">
        <link rel="stylesheet" th:href="@{/vendor/font-awesome/css/fontawesome-all.min.css}">
        <link rel="stylesheet" th:href="@{/css/styles.css}">
        <script th:src="@{/js/jquery-3.3.1.js}"></script>
        <script th:src="@{/js/jquery.cookie.js}"></script>
        <script th:src="@{/vendor/popper.js/popper.min.js}"></script>
        <script th:src="@{/vendor/bootstrap/js/bootstrap.min.js}"></script>
        <script th:src="@{/js/carbon.js}"></script>
        <script th:src="@{/js/ziyong.js}" type="text/javascript"></script>
</head>
<body class="sidebar-fixed header-fixed">
<div class="page-wrapper">

    <div th:replace="~{commons/commons::header_navbar(source='index')}"></div>
<!--    thymeleaf进行一个传参操作-->


    <div class="main-container">
        <div th:replace="~{commons/commons::side_navbar(source='index')}"></div>

        <div class="content">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-4">
                        <div class="card p-5">
                            <div class="card-body d-flex justify-content-between align-items-t">
                                <div>
                                    <span class="h4 d-block font-weight-normal mb-3">当前时间</span>
                                    <span class="font-weight-light" style="color: dodgerblue" id="time"></span>
                                </div>

                                <div class="h2 text-muted">
                                    <i class="icon icon-clock"></i>
                                </div>

                            </div>
                        </div>
                    </div>

                    <div class="col-md-5">
                        <div class="card p-5">
                            <div class="card-body d-flex justify-content-between align-items-t">
                                <div>
                                    <span class="h4 font-weight-normal mb-1">您的个人信息：</span></br>
                                </div>

                                <div class="h2 text-muted">
                                    <i class="icon icon-user"></i>
                                </div>

                            </div>
                        </div>
                    </div>


                    <div class="col-md-3">
                        <div class="card p-4">
                            <div class="card-body d-flex justify-content-between align-items-center">
                                实验表明，多看可爱的小动物有助于恢复健康！
                                <img th:src="@{/imgs/cat.png}" style="width: 135px;height: 150px">
                            </div>
                        </div>
                    </div>
                </div>


                <div class="row ">
                    <div class="col-md-12">
                        <div class="card">
                            <img th:src="@{/imgs/医院背景图.jpg}" style="height: 400px">
                        </div>
                    </div>
                </div>


            </div>
        </div>
    </div>
</div>
</div>
</body>
</html>
