<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:shiro="http://www.thymeleaf.org/thymeleaf-extras-shiro">

<!--需要导入两个命名空间！-->
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>大屏展示页面</title>
        <link rel="stylesheet" th:href="@{/vendor/simple-line-icons/css/simple-line-icons.css}">
        <link rel="stylesheet" th:href="@{/vendor/font-awesome/css/fontawesome-all.min.css}">
        <link rel="stylesheet" th:href="@{/css/styles.css}">
        <script th:src="@{/js/jquery-3.3.1.js}"></script>
        <script th:src="@{/js/jquery.cookie.js}"></script>
        <script th:src="@{/vendor/popper.js/popper.min.js}"></script>
        <script th:src="@{/vendor/bootstrap/js/bootstrap.min.js}"></script>
        <script th:src="@{/js/carbon.js}"></script>
        <script th:src="@{/js/echarts1.js}"></script>
        <script th:src="@{/js/ziyong/bigshow.js}"></script>

</head>


<body class="sidebar-fixed header-fixed" th:onload="initcharts([[${chaozhong}]],[[${lijuyujing}]],[[${shangxianwei}]],
[[${qingxie}]],[[${shangsuo}]],[[${alert_taji_cishu}]],[[${alert_sjj_cishu}]],[[${sum_taji}]],[[${sum_sjj}]],[[${sum_driver}]])">
<div class="page-wrapper">

    <div th:replace="~{commons/commons::header_navbar(source='big_show')}"></div>
<!--    thymeleaf进行一个传参操作-->


    <div class="main-container">
        <div th:replace="~{commons/commons::side_navbar(source='big_show')}"></div>

        <div class="content">
            <div class="container-fluid">
                <div class="row">

                    <div class="col-md-12">
                        <div class="card">
                            <div class="card-header">
                                <h1>项目概况</h1>
                            </div>
                            <div class="card-body">
                                <div class="container-fluid">
                                    <div class="row">
                                        <div class="col-md-6">
                                            <h2 th:text="|项目名称：   ${project_information.getName()}|"></h2></br>
                                            <h2 th:text="|项目位置：   ${project_information.getLocation()}|"></h2></br>
                                            <h2 th:text="|施工单位：   ${project_information.getConstruction_unit()}|"></h2></br>
                                            <h2 th:text="|开工时间：   ${project_information.getStart_time()}|"></h2></br>
                                            <h2 th:text="|完工时间：   ${project_information.getEnd_time()}|"></h2></br>
                                        </div>
                                        <div class="col-md-6">
                                            <h3>项目预览图：</h3>
                                            <img th:src="@{/imgs/project_img.jpg}" style="height: 350px;width: 650px">
                                            <h3>施工进度：<div id="progress_jindu" style="width: 400px;height: 100px"></div></h3>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>

                    </div>


                    <div class="col-md-6">
                        <div class="card p-5">
                            <div class="card-body d-flex justify-content-between align-items-t">
                                <div id="alert_classified" style="width: 700px;height: 350px"></div>
                            </div>
                        </div>
                    </div>


                    <div class="col-md-6">
                        <div class="card p-4">
                            <div class="card-body d-flex justify-content-between align-items-center">
                                <div id="alert_type_fenlei" style="width: 400px;height: 400px"></div>
                                <div id="equipdriver_type_fenlei" style="width: 400px;height: 400px"></div>
                            </div>
                        </div>
                    </div>




                </div>



            </div>
        </div>
    </div>
</div>
</div>
</body>

</html>
